// COLORS
$color-dark-blue: #44475C;
$color-white: #fff;
$color-black: #000;
$color-grey: #e5e5e5;
$table-row-color: #7d82a8;
$table-even-value-color: #d4d8f9;
$color-dodger-blue: #1890ff;

// SIZES
$heading-1: 6.4rem;
$navbar-size-link: 3rem;